/* contacts */

ul#contacts {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#contacts ul.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}

.contact {
  flex: 1;
}

#mail.defaultMail {
  animation: opacityDefaultMail 1s 1 normal;
}

#mail.changeMail {
  animation: opacityChangeMail 1s 1 normal;
}

#email {
  animation: var(--translationYplus);
}

#github {
  animation: opacity var(--timing-transition) 1 normal;
}

#linkedin {
  animation: var(--translationYminus);
}

@media screen and (max-width: 650px) {
  ul#contacts {
    padding-bottom: 8vh;
  }
}

@media screen and (max-width: 500px) {
  ul#contacts {
    padding-bottom: 22vh;
  }
}

@media screen and (max-width: 350px) {
  ul#contacts {
    padding-bottom: 26vh;
  }
}

@media screen and (max-height: 500px) {
  ul#contacts {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  #email {
    animation: var(--translationXplus);
  }
  #linkedin {
    animation: var(--translationXminus);
  }
}
