/* portfolio */

#EnzoNoel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: var(--translationXplus);
}

#name {
  font-size: 8rem;
  line-height: 1;
}

.PColor {
  animation: var(--ColorAnimation);
}

#aboutMe {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

#knowMe {
  display: flex;
  justify-content: center;
}
#knowMe {
  animation: var(--translationXminus);
}

#knowMe ul.language ul.list p {
  animation: var(--ColorAnimation);
}

#knowMe ul.language {
  display: flex;
  justify-content: space-evenly;
}

#knowMe ul.language ul.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

@media screen and (max-width: 900px) {
  #EnzoNoel {
    animation: var(--translationYplus);
  }
  #knowMe {
    align-items: center;
    animation: var(--translationYminus);
    padding-bottom: 10vh;
  }
}

@media screen and (max-height: 500px) {
  #EnzoNoel {
    animation: var(--translationXplus);
  }
  #knowMe {
    animation: var(--translationXminus);
  }
}
/* AboutMe */

#AboutMe article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#AboutMe p {
  text-align: justify;
  width: 50%;
}

#AboutMe img {
  border-radius: 50%;
}
