/* portfolio */

.actif #EnzoNoel {
  flex: 1;
  display: flex;
  justify-content: center;
}

.actif #name {
  font-size: 8rem;
  line-height: 1;
  animation: translationXplus var(--timing-transition) 1 normal;
}

.actif .PColor {
  animation: color-transition 7s linear infinite alternate,
    translationXplus var(--timing-transition) /*150ms*/ 1 normal backwards;
}

.actif #presentation {
  flex: 1;
  display: flex;
  justify-content: center;
}
.actif #presentation .language {
  animation: translationXminus var(--timing-transition) /*150ms*/ 1 normal
    backwards;
}

.actif #presentation ul.language ul.list p {
  animation: color-transition 7s linear infinite alternate;
}

.actif #presentation ul.language {
  display: flex;
  justify-content: space-between;
}

.actif #presentation ul.language ul.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

@media screen and (max-width: 600px) {
  .actif #EnzoNoel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .actif #presentation {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
