/* GENERAL STYLE */

/* ;; General colors
    :white  "#ffffff"
    :red    "#fc618d"
    :orange "#fd9353"
    :yellow "#fce566"
    :green  "#7bd88f"
    :blue   "#5ad4e6"
    :purple "#948ae3"
    :pink   "#fc618d" */

/* Background */
html {
  font-size: 16px;
}

body {
  background-color: #111111;
  overflow: hidden;
  min-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  /* variables */
  --timing-transition: 0.5s;
}

/* Text */
a,
p,
h1,
h2,
li {
  color: rgb(230, 230, 230);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
  cursor: default;
}

a:hover {
  animation: opacityClassic 0.2s linear forwards;
  -webkit-animation: opacityClassic 0.2s linear forwards;
  cursor: pointer;
}

ul.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Main */

main .contenu {
  display: none;
  padding: 0;
  margin: 0;
}

main .contenu.actif {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 92vh;
  padding: 0;
  margin: 0;
}

.actif .icon {
  height: 3rem;
  width: auto;
}

@media screen and (max-width: 900px) {
  body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  main .contenu.actif {
    flex-direction: column;
    min-height: 85vh;
  }
}
