/* GENERAL STYLE */

/*
    autre
    :bg      "#111111"
    :text    "#f1f1f1"*/

/* variables */
:root {
  --backgroundColor: #f2e8cf;
  --textColor: #111111;

  --colorAnimation1: #fc618d;
  --colorAnimation2: #5ad4e6;
  --colorAnimation3: #7bd88f;
  --colorAnimation4: #fce566;

  --colorUnderline: #9b2226;

  --ColorAnimation: color-transition 10s linear infinite alternate;
  --ColorAnimationBg: color-transitionBg 10s linear infinite alternate;

  --timing-transition: 0.5s;

  --translationXplus: translationXplus var(--timing-transition) 1 normal;
  --translationXminus: translationXminus var(--timing-transition) 1 normal;

  --translationYplus: translationYplus var(--timing-transition) 1 normal;
  --translationYminus: translationYminus var(--timing-transition) 1 normal;
}

/* Background */
html {
  font-size: 16px;
}

body {
  background-color: var(--backgroundColor);
  overflow: hidden;
  min-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Text */
a,
p,
h1,
h2,
li,
ul {
  color: var(--textColor);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  cursor: default;
}

a:hover {
  /* animation: opacityClassic 0.5s 1 ease forwards; */
  cursor: pointer;
}

a {
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10%;
  width: 0%;
  background-color: var(--colorUnderline);
  border-radius: 25px;
  transition: all 0.5s ease;
  /* animation: var(--ColorAnimationBg); */
}

a:hover::before {
  width: 100%;
}

ul.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Main */

main .anchor {
  position: absolute;
  display: none;
  top: 0;
}

main .contenu {
  display: none;
}

main .contenu.actif {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 92vh;
  padding: 0;
  margin: 0;
}

.icon {
  height: 3rem;
  width: auto;
}

@media screen and (max-width: 900px) {
  main .contenu.actif {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 12px;
  }
  body {
    height: 85vh;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-height: 500px) {
  html {
    font-size: 10px;
  }
  main .contenu.actif {
    flex-direction: row;
    min-height: 85vh;
  }
}
