/* Head */

header {
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 8vh;
  display: flex;
  animation: var(--translationYplus);
  position: fixed;
  z-index: 1;
}

header nav.menu {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: end;
}

header nav.menu ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.menu {
  padding: 0;
  margin: 0;
  min-height: 5vh;
}

.sousMenu {
  display: flex;
  justify-content: center;
  min-width: 12rem;
}

#nameH.actifH a {
  animation: var(--ColorAnimation);
}

#projectH.actifH a {
  animation: var(--ColorAnimation);
}

#contactH.actifH a {
  animation: var(--ColorAnimation);
}

#theme {
  position: absolute;
  left: 6%;
  top: 6vh;
  transform: translate(-50%, -50%);
  display: flex;
}

#langue {
  position: absolute;
  left: 94%;
  top: 6vh;
  transform: translate(-50%, -50%);
  display: flex;
}

#imgColorMode,
#imgLangueMode {
  cursor: pointer;
}

#imgLangueMode {
  height: 4rem;
}

@media screen and (max-width: 500px) {
  header {
    min-height: 15vh;
    animation: var(--translationYplus);
  }
  header nav.menu {
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  #theme {
    top: 19vh;
  }
}

@media screen and (max-height: 500px) {
  header {
    min-height: 15vh;
  }
  #theme {
    top: 25vh;
  }
}
