/* Head */

header {
  width: 100%;
  padding: 2rem 0rem 0rem;
}

@media screen and (max-width: 1000px) {
  header nav.menu {
    display: flex;
    flex-direction: column;
    width: 100% content-box;
    animation: translationYplus var(--timing-transition) linear 1 normal;
  }
}

header nav.menu {
  display: flex;
  width: 100% content-box;
  animation: translationYplus var(--timing-transition) linear 1 normal;
}

header nav.menu ul {
  display: flex;
}

.menu {
  min-width: 100px;
}

#nameH {
  display: flex;
  justify-content: center;
  flex: 1;
}

#projectH {
  display: flex;
  justify-content: center;
  flex: 3;
}

#projectH a:hover {
  opacity: 0.6;
}

#nameH.actifH a {
  animation: color-transition 7s linear infinite alternate;
}

#projectH.actifH a {
  animation: color-transition 7s linear infinite alternate;
}

#contactH.actifH a {
  animation: color-transition 7s linear infinite alternate;
}

#contactH {
  display: flex;
  justify-content: center;
  flex: 1;
  min-width: 100px;
}
