/* portfolio */

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#EnzoNoel {
  animation: var(--translationXplus);
  display: flex;
  flex-direction: column;
}

#name {
  font-size: 8rem;
  line-height: 1;
}

.PColor {
  animation: var(--ColorAnimation);
}

#me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: blue;
}

#knowMe {
  animation: var(--translationXminus);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#knowMe .languages {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

#aboutMe {
  margin-bottom: 3rem;
  text-align: center;
}

.language {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 1rem;
}

.language::after {
  text-align: center;
  width: 5rem;
  height: 100%;
  position: absolute;
  top: 5rem;
  animation: var(--ColorAnimation);
}

#html::after {
  content: "html" !important;
}
#css::after {
  content: "css" !important;
}
#js::after {
  content: "js" !important;
}
#java::after {
  content: "java" !important;
}
#csharp::after {
  content: "C#" !important;
}

#frontend,
#backend {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

#frontend {
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  #frontend,
  #backend {
    display: flex;
    margin: 0;
    padding: 0;
    width: 15rem;
  }
  .language {
    justify-content: space-evenly;
    margin: 1.5rem;
  }
  #EnzoNoel {
    animation: var(--translationYplus);
  }
  #knowMe {
    animation: var(--translationYminus);
  }
}

@media screen and (max-width: 500px) {
  #knowMe {
    justify-content: flex-start !important;
  }
}

@media screen and (max-height: 500px) {
  #EnzoNoel {
    animation: var(--translationXplus);
  }
  #knowMe {
    animation: var(--translationXminus);
  }
}
/* Presentation */

#Presentation article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Presentation p {
  text-align: justify;
  width: 40%;
  font-size: x-large;
  animation: var(--translationXminus);
}

#Presentation img {
  border-radius: 25%;
  width: 25vw;
  min-width: 20rem;
  padding: 2rem;
  animation: var(--translationXplus);
}

@media screen and (max-width: 900px) {
  #Presentation article {
    flex-direction: column;
  }
  #Presentation img {
    min-width: 15rem !important;
    animation: var(--translationYplus);
  }
  #Presentation p {
    animation: var(--translationYminus);
    font-size: x-large;
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  #Presentation p {
    font-size: large;
  }
}

@media screen and (max-width: 400px) {
  #Presentation p {
    font-size: larger;
  }
}

@media screen and (max-height: 700px) {
  #Presentation p {
    font-size: larger;
  }
}
