/* Keyframes */

/* ;; General colors
    :white  "#ffffff"
    :red    "#fc618d"
    :orange "#fd9353"
    :yellow "#fce566"
    :green  "#7bd88f"
    :blue   "#5ad4e6"
    :purple "#948ae3"
    :pink   "#fc618d" 
     */

/* animation-name: color-transition;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; */

/* animation: color-transition 7s linear infinite alternate */
@keyframes color-transition {
  0% {
    color: var(--colorAnimation1);
  }
  33% {
    color: var(--colorAnimation2);
  }
  66% {
    color: var(--colorAnimation3);
  }
  100% {
    color: var(--colorAnimation4);
  }
}

@keyframes color-transitionBg {
  0% {
    background-color: var(--colorAnimation1);
  }
  33% {
    background-color: var(--colorAnimation2);
  }
  66% {
    background-color: var(--colorAnimation3);
  }
  100% {
    background-color: var(--colorAnimation4);
  }
}

/* animation-name: translation()plus;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-direction: normal; */

/* animation: translationXplus 0.3s 1 normal; */
@keyframes translationXplus {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* animation: translationXminus 0.3s 1 normal; */
@keyframes translationXminus {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* animation: translationYplus 0.3s 1 normal; */
@keyframes translationYplus {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* animation: translationYminus 0.3s 1 normal; */
@keyframes translationYminus {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* animation: opacity var(--timing-transition) 1 normal; */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityClassic {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.65;
  }
}

@-webkit-keyframes opacityClassic {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.65;
  }
}

@keyframes opacityDefaultMail {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityChangeMail {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
