/* Keyframes */

/* animation-name: color-transition;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; */

/* animation: color-transition 7s linear infinite alternate */
@keyframes color-transition {
  0% {
    color: #fc618d;
  }
  33% {
    color: #5ad4e6;
  }
  66% {
    color: #7bd88f;
  }
  100% {
    color: #fce566;
  }
}

/* animation-name: translation()plus;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-direction: normal; */

/* animation: translationXplus 0.3s 1 normal; */
@keyframes translationXplus {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* animation: translationXminus 0.3s 1 normal; */
@keyframes translationXminus {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* animation: translationYplus 0.3s 1 normal; */
@keyframes translationYplus {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* animation: translationYminus 0.3s 1 normal; */
@keyframes translationYminus {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* animation: opacity var(--timing-transition) 1 normal; */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityDefaultMail {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityChangeMail {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
