/* Projects */
.actif .projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: inherit;
  width: inherit;
}

.actif .top {
  flex: 1;
  display: flex;
  width: inherit;
  justify-content: space-between;
}

.actif #Lowatem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: translationXplus var(--timing-transition) 1 normal;
}

.actif #Lowatem img {
  object-fit: fill;
  width: 36rem;
}

.actif #Graphes {
  flex: 1;
  display: flex;
  justify-content: center;
  animation: translationXminus var(--timing-transition) 1 normal;
}

.actif .bot {
  flex: 1;
}

.actif #Pong {
  animation: translationYminus var(--timing-transition) 1 normal;
}

.actif .projects h1 {
  padding: 1rem;
}
