/* Projects */
main .contenu#Projects {
  align-items: flex-start;
}

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

.top {
  flex: 1;
  display: flex;
  width: inherit;
  justify-content: space-between;
}

#LowatemProject {
  flex: 1;
  animation: var(--translationXplus);
}

.projects a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.projects img {
  width: 35vw;
  min-width: 25rem;
  max-width: 40rem;
}

.projects img:hover {
  opacity: 1;
}

.projects a img:hover + h1,
.projects a h1:hover {
  cursor: pointer;
}

#GraphesProject {
  flex: 1;
  animation: var(--translationXminus);
}

.bot {
  flex: 1;
}

#PongProject {
  animation: var(--translationYminus);
}

.projects a:hover::before {
  width: 0%;
}

.projects h1 {
  padding: 1rem;
}

@media screen and (max-width: 900px) {
  main .contenu#Projects {
    justify-content: flex-start;
  }
  .projects {
    margin-top: 8vh;
  }
  .top,
  .bot {
    flex-direction: column;
  }
  .projects img.imgProject {
    width: 80vw !important;
    max-width: 40rem;
  }
}

@media screen and (max-height: 500px) {
  .projects img.imgProject {
    width: 80vh !important;
    max-width: 40rem;
  }
  .top,
  .bot {
    flex-direction: row;
  }
}

/* SubProjects */

.subProjects {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subProjects p {
  text-align: justify;
  width: 50%;
}
