/* Projects */
main .contenu#Projects {
  align-items: flex-start;
}

.subProjectList {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

.top,
.bot {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.subProjectList a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.subProjectList .titleProject {
  margin-bottom: 1rem;
}

.subProjectList img {
  width: 35vw;
  min-width: 25rem;
  max-width: 30rem;
}

.subProjectList .select::before {
  width: 100%;
}

.subProjectList .aImg::before {
  width: 0%;
}

.projects {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#LowatemProject {
  animation: var(--translationXplus);
}

#GraphesProject {
  animation: var(--translationXminus);
}

#PongProject {
  animation: var(--translationYminus);
}

.subProjectList h1 {
  padding: 1rem;
}

@media screen and (max-width: 900px) {
  main .contenu#Projects {
    justify-content: flex-start;
  }
  .subProjectList {
    margin-top: 8vh;
  }
  .top,
  .bot {
    flex-direction: column;
  }
  .subProjectList img.imgProject {
    width: 80vw !important;
    max-width: 40rem;
  }
}

@media screen and (max-height: 500px) {
  .subProjectList img.imgProject {
    width: 80vh !important;
    max-width: 40rem;
  }
  .top,
  .bot {
    flex-direction: row;
  }
}

/* SubProjects */

.subProjects {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.subProjects h1 {
  animation: var(--translationYplus);
}

.subProjects p {
  text-align: justify;
  width: 50%;
  animation: var(--translationYminus);
}
